<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lkw.wr's Garage</title>
    <link href="../static/styles/car.css" rel="stylesheet">
    <link href="../static/styles/main.css" rel="stylesheet">
    <link>
</head>
<body>
<nav>
    <a th:href="@{/home}"><b>Lkw.wr's Garage</b></a>
    <span>
        <a th:href="@{/cars}"><b>Our Cars</b></a>
        <a th:href="@{/users}"><b>Users</b></a>
        <a th:href="@{/logout}"><b>Logout</b></a>
    </span>
</nav>
<main>
    <form th:action="@{'/admin/'}" th:method="post">
        <label>
            NAME:
        </label>
        <label>
            <input type="text" name="item_name" th:value="${car.getName()}">
        </label>
        <br>
        <label>
            PRICE:
        </label>
        <label>
            <input type="number" name="item_price" min="0" max="1000000" th:value="${car.getPrice()}">
        </label>
        <br>
        <button>SAVE ITEM</button>
    </form>
</main>
</body>
</html>