<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lkw.wr's Garage</title>
    <link th:href="@{../static/styles/main.css}" rel="stylesheet">
</head>
<body>
<nav>
    <a th:href="@{/home}"><b>Lkw.wr's Garage</b></a>
    <span>
        <a th:href="@{/cars}"><b>Our Cars</b></a>
        <a th:if="${currentUser!=null && currentUser.getRole().equals('ADMIN')}" th:href="@{/users}"><b>Users</b></a>
        <a th:href="@{/about}"><b>About</b></a>
        <a th:if="${currentUser!=null}" th:href="@{'/user/' + ${currentUser.getId()}}"><b>Profile</b></a>
        <a th:if="${currentUser==null}" th:href="@{/login}"><b>Login</b></a>
        <a th:if="${currentUser!=null}" th:href="@{/logout}"><b>Logout</b></a>
    </span>
</nav>
</body>
</html>