<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lkw.wr's Garage</title>
    <link th:href="@{../static/styles/users.css}" rel="stylesheet">
    <link th:href="@{../static/styles/main.css}" rel="stylesheet">
</head>
<body>
<nav>
    <a th:href="@{/home}"><b>Lkw.wr's Garage</b></a>
    <span>
        <a th:href="@{/cars}"><b>Our Cars</b></a>
        <a th:href="@{/users}"><b>Users</b></a>
        <a th:href="@{/logout}"><b>Logout</b></a>
    </span>
</nav>
<main>
    <div>
        <div>
            <h1>LIST OF USERS:</h1>
        </div>
        <table>
            <thead>
            <tr>
                <th>FIRST NAME</th>
                <th>LAST NAME</th>
                <th>EMAIL</th>
                <th>DELETE</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.getFirstName()}"></td>
                <td th:text="${user.getLastName()}"></td>
                <td th:text="${user.getEmail()}"></td>
                <td>
                    <form th:action="@{/admin/delete-user}" method="post"><input type="hidden" name="id"
                                                                                 th:value="${user.getId()}"/>
                        <button>DELETE</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>